<div class="tagBar">
	<div class="entireTag">
		<div class="tag">
			HTML
		</div>
		<div class="cross">&#10005;</div>
	</div>
	<div class="entireTag">
		<div class="tag">
			CSS
		</div>
		<div class="cross">&#10005;</div>
	</div>
	<div class="entireTag">
		<div class="tag">
			Python
		</div>
		<div class="cross">&#10005;</div>
	</div>
	<div class="entireTag">
		<div class="tag">
			JavaScript
		</div>
		<div class="cross">&#10005;</div>
	</div>
</div>
<jobCard *ngFor="let job of jobs"
	[id]="job.id"
	[company]="job.company"
	[logo]="job.logo"
	[new]="job.new"
	[featured]="job.featured"
	[position]="job.position"
	[role]="job.role"
	[level]="job.level"
	[postedAt]="job.postedAt"
	[contract]="job.contract"
	[location]="job.location"
	[languages]="job.languages"
	[tools]="job.tools"
></jobCard>
