<div *ngIf="tags.length>0" class="tagBar">
	<div *ngFor="let tag of tags" class="entireTag">
		<div class="tag">
			{{tag}}
		</div>
		<div class="cross" (click)="deleteTag(tag)">&#10005;</div>
	</div>
</div>
<div *ngFor="let job of jobs">
	<jobCard *ngIf="validateIfMatchWithTag(job.languages.concat(job.tools,job.level))"
		[id]="job.id"
		[company]="job.company"
		[logo]="job.logo"
		[new]="job.new"
		[featured]="job.featured"
		[position]="job.position"
		[role]="job.role"
		[level]="job.level"
		[postedAt]="job.postedAt"
		[contract]="job.contract"
		[location]="job.location"
		[languages]="job.languages"
		[tools]="job.tools"
		[selectTag]="onSelectTag"
	></jobCard>
</div>