.cardComponent{
	background-color: white;
	width: 65%;
	margin: auto;
	border-radius: 4px;
	height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	margin-top: 3%;
}

.logo{
	background-repeat: no-repeat;
  	background-size: cover;
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 5%;
	margin-top: 1.8%;
	vertical-align: top;
}

.secondPart{
	display: inline-block;
	margin-left: 2%;
	width:45%;
	margin-top: 1.8%;
}

.companyName{
	color: #5ea4a4;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
}

.new{
	background-color: #5ea4a4;
	width: 10%;
	display: inline-block;
	border-radius: 20px;
	text-align: center;
	color: white;
	font-weight: bold;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-left: 5%;
}

.featured{
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	width: 18%;
	display: inline-block;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-left: 3%;
}

.position{
	color: black;
	width: 100%;
	padding-top: 3%;
	font-weight:bold;
	font-size: 22px;
	cursor: pointer;
}

.position:hover{
	color: #5ea4a4;
}

.timesAndPlace{
	width: 100%;
	padding-top: 2.5%;
	color: #999ea1;
}

.subdata{
	display: inline-block;
}

.separator{
	width: 4%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding-top: 1.25%;
	padding-left: 3.3%;
}

.separator div{
	width: 5px;
	height: 5px;
	background-color: #999ea1;
	border-radius: 50%;
}

.tags{
	display: inline-block;
	width: 38%;
	vertical-align: top;
	padding-top: 5%;
	font-size: 14px;
}

.tags div{
	display: inline-block;
	margin-right: 4%;
	background-color: #f0f6f6;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 4px;
	color: #5ea4a4;
	font-weight: bold;
	cursor: pointer;
}

.tags div:hover{
	background-color: #5ea4a4;
	color: white;
}


@media only screen and (max-width: 1550px){
	.cardComponent{
		width: 75%;
	}
}

@media only screen and (max-width: 1350px){
	.cardComponent{
		width: 85%;
	}
}

@media only screen and (max-width: 1200px){
	.cardComponent{
		width: 95%;
	}
}

@media only screen and (max-width: 1071px){
	.cardComponent{
		width: 98%;
	}

	.secondPart{
		width: 35%;
	}

	.featured,.new{
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.tags{
		width: 42%;
	}
}


@media only screen and (max-width: 964px){
	.cardComponent{
		margin-top: 6%;
	}

	.logo{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin-left: 2%;
		margin-top: -3%;
		vertical-align: top;
	}

	.companyName{
		font-size: 15px;
	}

	.position{
		font-size: 18px;
	}

	.tags{
		width: 50%;
	}

	.featured,.new{
		font-size: 12px;
		margin-left: 2%;
	}

	.tags div{
		margin-right: 2%;
	}
}

@media only screen and (max-width: 720px){
	.cardComponent{
		margin-top: 14%;
		padding-left: 6%;
		padding-right: 6%;
		width: 80%;
		height: 250px;
	}

	.logo{
		margin-top: -10%;
	}

	.companyName{
		font-size: 16px;
	}

	.position{
		font-size: 22px;
	}

	.secondPart{
		display: block;
		width: 100%;
		padding-bottom: 5%;
		border-bottom: 1px solid #999ea1;
	}

	.tags{
		width: 100%;
	}

	.tags div{
		margin-right: 5%;
		margin-bottom: 3%; 
	}
}